<div class="login-container">
  <form action="">
    <div class="form-group">
      <label for="username" class="btn login-icon"
        ><i class="fas fa-user"></i>
      </label>
      <input
        type="text"
        id="username"
        placeholder="username"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="password" class="btn login-icon"
        ><i class="fas fa-lock"></i>
      </label>
      <input type="password" id="password" placeholder="password" />
    </div>

    <button class="btn wide login-icon">
      <span>Login</span>
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </form>
</div>
