.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(50vh + 10vmin);

  .form-group {
    display: flex;

    input {
      margin: 0.5rem 0;
      &:focus {
        outline: none;
        border: solid 1px var(--generic);
      }
    }
  }

  .login-icon {
    background-color: var(--generic);
  }

  .error-message {
    width: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    opacity: 0.85;
    padding: 0.5rem;
    background-color: var(--nc-bg-2);
    border: solid 1px var(--delete);
    border-radius: 4px;
    :first-child {
      margin-right: 0.5rem;
    }
  }

  .dummy-credentials {
    margin: 4rem 0;
    span {
      background-color: var(--delete);
      padding: 0 0.125rem;
      border-radius: 4px;
    }
  }

  .db-connect-hints {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    width: max-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    opacity: 0.85;
    padding: 0.5rem;
    background-color: var(--nc-bg-2);
    border: solid 1px var(--nc-bg-3);
    border-radius: 4px;
  }
}
