.add-item-container {
  display: flex;
  align-items: center;

  padding: 2rem 0;
  background-color: var(--nc-bg-1);
  position: sticky;
  top: 0;

  .add-item {
    background-color: var(--generic);
  }

  input {
    margin: 0;
    // initial left space in the flexbox to occupy
    flex: 0.25;
    transition: flex 0.4s ease-in-out;
    &:focus {
      // max left space to occupy on focus
      flex: 0.75;
      outline: none;
      border: solid 1px var(--generic);
    }
  }
}
